*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-wrapper{
    width: 100%;
    height: 60px;
    background-color: #228651;
    color: black;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
      }
.nav-wrapper h3{
    display: inline; 
    padding: 0.5em; 
    text-align: center;
    margin: auto;
    font-size: 1.4em;
    
    
      
}
.logo{
    width: 30%;
    padding-top: 1em;
    font-weight: bold;
}
.btn{
    text-align: end;
    width: 70%;
    padding-top: 1em;
}
.nav-wrapper a{
    text-decoration: none;
    padding: 0.5em 1.5em; 
    
  
    }
    
.nav-wrapper a:hover{
    background-color: rgb(1, 80, 5);
    color: rgb(252, 246, 246);
}


.image{
    margin-top: 1em;
    text-align: center;
}

body{
    width: 100%;
    color:rgb(25, 138, 6) ;
    
}
span > a{
    color: black;
}
.footer{
    background-color: #228651;
}

 